@font-face {
    font-family: "Gilroy";
    src: url("/public/FontsFree-Net-Gilroy1.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy";
    src: url("/public/FontsFree-Net-Gilroy3.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Gilroy";
    src: url("/public/FontsFree-Net-Gilroy-Bold.ttf");
    font-weight: 700;
}

body {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity)) !important
        /* #1f2937 */
    ;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-transition {
    transition: all .70s ease-in-out;
    -webkit-transition: all .70s ease-in-out;

}